
a, a:visited, a:active, a:-webkit-any-link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

/* Breakdown
========================================================================== */
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
.small { color: $gray }
body {}

/* Menus
========================================================================== */
.menu, .menu a {
    text-transform: uppercase;
    color: $gray;
}