
a, a:visited, a:active, a:-webkit-any-link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Breakdown
========================================================================== */
html { font-family: Calibri, sans-serif; }
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
.small{
    color: $gray;
    font-size: 0.5em;
    padding: .2em;
}

.copyright { 
    color: $gray; 
    padding: 0em .3em;
}

/* Menus
========================================================================== */
.menu, .menu a {
    text-transform: uppercase;
    color: $gray;
    font-family: 'Montserrat', sans-serif;
    color: #828282;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .11em;
    line-height: 1.4em;
    margin: .9em;

    &:hover { color: #D2BBA0; }
}

.menu ul {
    list-style-type: none;
    -webkit-padding-start: 40px;
}