.skip-link {
    visibility: hidden;
    position: absolute;
}

/* Logo Header
========================================================================== */
.logo-container {
    position: absolute;
    width: 100vw;
}

.logo-inner {
    background-color: white;
    width: 18em;
    height: 20vh;
    margin: auto;

    & img {
        width: 10rem;
        display: block;
        margin: auto;
    }

    .logo-blurb {
        padding: .2em;
    }
}


/* Main Post
========================================================================== */

article{
    padding: 5%;
}

.main-post {
    margin: 12em 3em 3em 3em;
    height: 100%;
}

/* Footer
========================================================================== */
footer {
    width: fit-content;
    margin: auto;
    background: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    padding: 0em 0em 1em 0em;
}

.site-info {
    display: flex;
    justify-content: center;
}