.skip-link {
    visibility: hidden;
    position: absolute;
}

/* Main Post
========================================================================== */
article{
    padding: 5%;
}

/* Menus
========================================================================== */
.menu {
    padding: 0rem;
    display: flex;
    justify-content: center;

    li {
        display: inline;
        padding: 0.2rem;
    }
}

/* Footer
========================================================================== */
footer {
    width: fit-content;
    margin: auto;
    background: #ffffff;
    display: flex;
    flex-flow: column nowrap;
}