.skip-link {
    visibility: hidden;
    position: absolute;
}

/* Main Post
========================================================================== */
.main-post {
    margin: 2em;
}

article{
    padding: 5%;
}

/* Footer
========================================================================== */
footer {
    width: fit-content;
    margin: auto;
    background: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    padding: 0em 0em 1em 0em;
}

.site-info {
    display: flex;
    justify-content: center;
}