/* Menus
========================================================================== */
.menu {
    li {
        display: inline;
        padding: 0.2rem;
        text-align: center;
    }
}

#menu-desktop-menu {
    padding: 0rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

#menu-mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}