/* Menus
========================================================================== */
.menu {
    margin: 0;

    li {
        margin: 0;
        display: inline;
        text-align: center;
    }
}

#menu-desktop-menu {
    padding: 0rem;
    margin: auto;
    display: flex;
    justify-content: center;

        li {
            padding: 1.2rem 1.5rem;
        }
}

#menu-mobile-menu {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.2rem;

    li {
        width: 10em;
        padding: 0.5em 0em;
    }
}