*, * > *{
	margin: 0;
	padding: 0;
}

html, body, main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    min-width: 320px;
}


/* Page Container
========================================================================== */
.site-main{
    width: 400vw;
    height: 100vh;
}

.entry-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.post {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Footer
========================================================================== */

#site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
}

nav#site-navigation {
    display: block;
    margin: auto;
    width: fit-content;
}