body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/* Page Container
========================================================================== */
html, main, .site-main{
    width: 400vw;
    height: 100vh;
    overflow: hidden;
}

.post {
    width: 100vw;
    height: 100vh;
}

/* Footer
========================================================================== */

#site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
}

nav#site-navigation {
    display: block;
    margin: auto;
    width: fit-content;
}