nav {
    background-color: peachpuff;
    display: grid;
    grid-template-columns: 3fr 35% 2fr 35% 1fr 3fr;
    grid-template-rows: 1fr 35% 2fr 35% 1fr;

    > * { visibility: hidden; }
    li { visibility: visible; }

  }